.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  padding: 2%
}

.item {
  width: 100px;
  height: 100px;
  margin: 5px;
}


/* Handling screen size */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}